*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    border-bottom: 2px solid black;
    padding: 0.7em;
    background-color: blueviolet;

}
.res{
    display: flex;
    background-color: blue;
    padding: 2em;
    flex-direction: column;
    gap: 2em;
    color: aliceblue;
}
.btn{
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    padding: 0.7em;
    width: fit-content;
    cursor: pointer;
    
}

.input{
    background-color: aquamarine;
}