
#cont{
     background-color: blueviolet;
    padding: 1em;
    font-size: 2em;
    
}

@media screen and (width < 100px){
    #caja1{
        display: none;
    }
}
@media screen and (width < 200px){
    #caja2{
    display: none;
    }
}
@media screen and (width < 300px){
    #caja3{
        display: none;
    }
}
@media screen and (width < 400px){
    #caj4{
        display: none;
    }
}
@media screen and (width < 500px){
    #caja5{
        display: none;
    }
}
@media screen and (width < 600px){
    #caja6{
        display: none;
    }
}
@media screen and (width < 700px){
    #caja7{
        display: none;
    }
}
@media screen and (width < 800px){
    #caja8{
        display: none;
    }
}
@media screen and (width < 900px){
    #caja9{
        display: none;
    }
}
@media screen and (width < 1000px){
    #caja10{
        display: none;
    }
}