.cajas div{
    width: 200px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajas{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 1em;
}
#caja4{
    background-color: blue;
    flex-grow: 1;
    order: 2;
}
#caja5{
    background-color: aqua;
    flex-grow: 3;
    order: -1;
}
nav a{
    text-decoration: none;
    color: inherit;
    padding: 1em;
    flex-grow: 1;
    justify-content: center;
    display: flex;
}
nav{
    display: flex;
    background-color: orange;

}
nav a:hover{
    background-color: brown;
}
body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
  align-items: center;
}
#cont{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 700px;

}
#cont header img{
width: 90px;
}
#cont header{
    display: flex;
    gap: 1em;
    justify-content: center;
    background-color: green;
}
#cont nav{
    background-color: aqua;
}
#cont main{
display: flex;
gap: 1em;
}
#cont main img{
    width: 30%;
height: fit-content;
}
#cont footer{
    background-color: green;
    color: beige;
    font-weight: 600;
    padding: 1em;
}