.caja {
    width: 300px;
    height: 100px;
    background-color: orange;
    padding: 1em;
    box-sizing: border-box;
}

#transicion1 {
    transition: 1s;
    transition-delay: 0, 5s;
}

#transicion1:hover {
    width: 500px;
    background-color: green;
}

#transicion2 {
    transition: 5s, with 1s, height 10s;
}

#transicion2:hover {
    width: 500px;
    height: 500px;
    background-color: blue;
}

#transicion3 {
    transition: 1s;
    transition-timing-function: ease-in-out;
}

#transicion3:hover {
    width: 700px;
    background-color: red;
}
.box{
    margin: 0;
    background-color: aqua;
    width: 100%;
    height: 150px;
    font-size: 0;
}
.subBox{
    margin: 0;
    background-color: blue;
    height: 50px;
    width: 10%;
    display: inline-block;
    margin-top: 100px;
}
.subBox:hover{
    margin: 0;
    height: 100px;
    margin-top: 50px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}
.espacio{
    background-color: aquamarine;
    width: 600px;
    height: 600px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.espacio img{

    width: 100px;

}
.espacio img{
    position: absolute;
    bottom: 0;
    left: 250px;
    transition: 1s;
}
.espacio:hover img{
    bottom: 600px;
    
}